@model Go_Green_Group_Project.Models.Register
@{
    ViewBag.Title = "Donation";
}

<h2>Make a Donation</h2>
<div>
    <p>
        Are you for greener living? Do you want to reduce the effects of climate change and help create jobs? Then you're 
        the perfect person to make a donation. The money that you donate goes to street recyclers and helps them buy bags taht they 
        use to collect waste. It also helps them to be able to deliver the waste to different recycling companies. These street recyclers lives are improved
        by recycling waste and your donation will make their jobs a lot more easier. Help us reach more recyclers through your donation.
    </p>
    <br />
    <div>
        <label>R</label>

        <input id="Username" name="Username" style="color:black;border-radius:20px" required />
        <button type="submit" class="btn-primary" style="border-radius:20px">Donate</button>
    </div>

    <br />

    <div class="column" style="background-color:greenyellow">
        <h4>The number of street recyclers we've helped with donations: 80</h4>

    </div>
    <h3>Help Us Reach More!!</h3>
</div>

