
@{
    ViewBag.Title = "HomePage";
}

<h1> Go Green!</h1>

<h2>Home Page</h2>
<div>
   <p>GO Green will assist street recyclers to effectively identify recycle centers and make a living in recycling.
    With the use of the website households will be able to to help reach SDG goal 13 by helping street recyclers in effectively sorting
    waste at home and droping it off for the street recyclers to collect from the drop off collection zone identified before hand.</p>


</div>


