@model Go_Green_Group_Project.Models.Register
@{
    ViewBag.Title = "Login";
}

<h2 text="center-align">Login</h2>
<div style="margin-left:505px;border-radius:20px;border: solid 2px;padding-left:50px;width:300px">

    <div class="form-horizontal" style="align-content:center">

        <div class="form-group" style="border-radius:20px">

            <br />

            <h4>Please enter your details below:</h4>

            <div class="form-group" style="border-radius:20px">

                <label>Username</label>

                <input id="Username" name="Username" style="color:black;border-radius:20px" required />

            </div>

            <div class="form-group" style="border-radius:20px">

                <label>Password</label>

                <input id="Username" name="Username" style="color:black;border-radius:20px" required />

            </div>

            <div style="margin-left:50px">

                <button type="submit" class="btn btn-primary" style="border-radius:20px">Login</button>

            </div>

        </div>

    </div>


</div>

