@model Go_Green_Group_Project.Models.Register
@{
    ViewBag.Title = "Registration";
}

<h2 text="center-align">Registration</h2>


<div style="margin-left:505px;border-radius:20px;border: solid 2px;padding-left:50px;width:300px">

  


    <div class="form-horizontal" style="align-content:center">



        <div class="form-group" style="border-radius:20px">

            <br />

            <h4>Register Now </h4>



            <div class="form-group" style="border-radius:20px">

                <label>Name </label>

                <input id="Name" name="Name" style="color:black;border-radius:20px" required />

            </div>




            <div class="form-group" style="border-radius:20px">

                <label>Surname</label>

                <input id="Surname" name="Surname" style="color:black;border-radius:20px" required />

            </div>





            <div class="form-group" style="border-radius:20px">

                <label>Email </label>

                <input id="Email" name="Email" style="color:black;border-radius:20px" required />

            </div>


            <div class="form-group" style="border-radius:20px">

                <label>Phone </label>

                <input id="Phone" name="Phone" style="color:black;border-radius:20px" required />

            </div>

            <div class="form-group" style="border-radius:20px">

                <label>Address </label>

                <input id="Address" name="Address" style="color:black;border-radius:20px" required />

            </div>

            <div class="form-group" style="border-radius:20px">

                <label>Password </label>

                <input id="Password" name="Password" style="color:black;border-radius:20px" required />

            </div>



            <div style="margin-left:50px">

                <button type="submit" class="btn btn-primary" style="border-radius:20px" button-dismiss>Register  </button>

            </div>



        </div>



    </div>


</div>